@font-face {
    font-family: 'menu';
    src: url(./Lobster-Regular.ttf);
}

@font-face {
    font-family: 'descricao';
    src: url(./Jomolhari-Regular.ttf);
}

$font-menu: 'menu';
$font-texto: 'descricao';