@import '../cores.scss';
@import '../fonts/Fonte.scss';

body {
    background-color: $cor-fundo;
    font-family: $font-texto;
}

.animes {
    display: inline-flex;
    width: 50%;

    .animeLink{
        color: $cor-fonte-principal;
    }

    .Box {
        padding: 5px;
    }

    
    .Box img {
        width: 70px;
        height: 80px;
        border-radius: 5px;
    }

    .Title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.pesquisa {
    margin: 10px;
    background-color: #333333;
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .botaoPesquisar {
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
        outline: none;
    }
    .botaoPesquisar:hover {
        background-color: #6F8691;
    }
    .botaoPesquisar img{
        width: 25px;
        height: 25px;
    }
    .pesquisa-txt {
        border: none;
        background: none;
       outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        width: 79%;
    }
}